
@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<h3><img src="~/Content/Images/col-graph-icon.png" width="64" height="64" style="vertical-align:middle" />&nbsp;&nbsp;@Html.ActionLink("Posts distribution by Months", "PostsByMonthView", "PostManager")</h3>
<h3><img src="~/Content/Images/pie-graph-icon.png" width="64" height="64" style="vertical-align:middle" />&nbsp;&nbsp;@Html.ActionLink("Fans distribution by Age", "FansByAgeView", "FanClub")</h3>
<h3><img src="~/Content/Images/map-icon.png" width="64" height="64" style="vertical-align:middle" />&nbsp;&nbsp;@Html.ActionLink("Fans Locations Map", "FansMap", "FanClub")</h3>